@model UserViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "_DashboardLayout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>

    <div>
        <h4>UserViewModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fullname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fullname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="EditProfile" asp-controller="User" asp-route-id="@Model.UserId">
            <i class="fas fa-user-edit" style="font-size:200%"></i>
        </a>
        <a asp-action="Index" asp-controller="Home">
            <i class="fas fa-arrow-circle-left" style="font-size:200%"></i>
        </a>
    </div>
</body>
</html>
