@inject ICategoryService categoryService
@{
    var categories = categoryService.GetAll();
    ViewData["Title"] = "Home Page";
}
<!--Carousel Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="images/Carousel1.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">RC Car</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>See More</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="images/Carousel2.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">RC Aircraft</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>See More</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="images/Carousel3.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">RC Destroyer</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>See More</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="images/Carousel4.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">RC Tank</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>See More</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Carousel Section Begin -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var items in categories)
                    {
                        if (items.CategoryName != "Drone" && items.Products.Count!=0)
                        {
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>@items.CategoryName</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a asp-action="Detail" asp-controller="Category" asp-route-id="@items.CategoryId" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                            <div class="row">
                                @{
                                    var prod = new Stack<Product>(items.Products);
                                }
                                @for (int i = 0; i < 3; i++)
                                {
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="images/Products/@prod.Peek().FileAvatarName">
                                                <div class="comment"><i class="fa fa-coins"></i>   @prod.Peek().UnitPrice.ToString("n0") VND</div>
                                                @*<a class="btn btn-secondary btn-sm view" id="addcart" data-productid="@prod.Peek().ProductId"><i class="fa fa-shopping-cart"></i>  ADD CART</a>*@
                                                <a class="btn btn-secondary btn-sm view" asp-action="AddToCart" asp-controller="Cart"
                                                   asp-route-productid="@prod.Peek().ProductId"><i class="fa fa-shopping-cart"></i>  ADD</a>
                                            </div>
                                            <div class="product__item__text">
                                                <h5><a asp-action="Detail" asp-controller="Product" asp-route-id="@prod.Peek().ProductId">@prod.Pop().ProductName</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        @foreach (var items in categories)
                        {
                            if (items.CategoryName == "Drone")
                            {
                                <div class="section-title">
                                    <h5>Drone</h5>
                                </div>
                                <a class="filter__controls primary-btn" asp-action="Detail" asp-controller="Category" asp-route-id="@items.CategoryId">
                                    View All <span class="arrow_right"></span>
                                </a>
                                <div class="filter__gallery">
                                    @{
                                        var prod = new Stack<Product>
                                        (items.Products);
                                        @for (int i = 0; i < 3; i++)
                                        {
                                            <div class="product__sidebar__view__item set-bg"
                                                 data-setbg="images/Products/@prod.Peek().FileAvatarName">
                                                <div class="ep">
                                                    <i class="fa fa-coins"></i>   @prod.Peek().UnitPrice.ToString("n0") VND
                                                </div>
                                                <button class="view"><i class="fa fa-shopping-cart"></i>  ADD</button>
                                                <h5><a asp-action="Detail" asp-controller="Product" asp-route-id="@prod.Peek().ProductId">@prod.Pop().ProductName</a></h5>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
